iterating through the list using for-loop

1 sum og elements in the list

In [2]:
list1=[10,20,30,40,50]
sum=0
for ele in list1:
      sum = sum + ele
print("sum is",sum)

sum is 150

squres and cubes of the elements in the list

In [4]:
list1=[1,2,3,4,5,6,7,8,9,10]
for ele in list1:
    sq = ele * ele 
    cu = ele * ele * ele
    print("square is",sq)
    print("cube is",cu)

square is 1
cube is 1
square is 4
cube is 8
square is 9
cube is 27
square is 16
cube is 64
square is 25
cube is 125
square is 36
cube is 216
square is 49
cube is 343
square is 64
cube is 512
square is 81
cube is 729
square is 100
cube is 1000

In [6]:
list1 = ['P','Y','T','H','O','N','P','R','O','G','R','A','M','S']
sliced_list = list1[3:8]
sliced_list = list1[5:]
liced_list = list1[:]
liced_list = list1[:-5]
liced_list = list1[:5]
liced_list = list1[::-1]
print(list1[5:])
print(list1[3:8])
print(list1[:])
print(list1[:-5])
print(list1[:5])
print(list1[::-1])

['N', 'P', 'R', 'O', 'G', 'R', 'A', 'M', 'S']
['H', 'O', 'N', 'P', 'R']
['P', 'Y', 'T', 'H', 'O', 'N', 'P', 'R', 'O', 'G', 'R', 'A', 'M', 'S']
['P', 'Y', 'T', 'H', 'O', 'N', 'P', 'R', 'O']
['P', 'Y', 'T', 'H', 'O']
['S', 'M', 'A', 'R', 'G', 'O', 'R', 'P', 'N', 'O', 'H', 'T', 'Y', 'P']

it removes element from specified from list pop()

In [8]:
list1 = [1, 2, 3, 4, 5]
list1.pop(3)
print(list1)

[1, 2, 3, 5]

removes all elements from list clear()

In [9]:
list1 = ['A', 'B', 'C', 'D']
list1.clear()
print(list1)

[]

In [11]:
list1 = [10,20,40,55.5,"ravi",100]
print("presence of 10 in list1 is:",10 not in list1)
print("presence of 25 in list1 is:",25 not in list1)

presence of 10 in list1 is: False
presence of 25 in list1 is: True

append() = it adds specified elements to the last position of the list.

In [13]:
list1 = [ 10,20,'ravi',10.5]
list1.append(20.5)
print(list1)

[10, 20, 'ravi', 10.5, 20.5]

insert() = it inserts element at specified position of list

In [15]:
list1=[10,20,30,40,50]
list1.insert(2,30)
list1.insert(-1,60)
print(list1)

[10, 20, 30, 30, 40, 60, 50]

extend() = it adds element parameter list with

In [16]:
list1=[10,20,30,40,50]
list1.insert(2, 25)
print(list1)

[10, 20, 25, 30, 40, 50]

In [17]:
list1 = [10, 20, 30, 40, 50]
a = list1.__len__()
print("length of list1 is:", a)

length of list1 is: 5

updating ele :

In [18]:
list1 = [1,3,5,8,9,11,15,18]
i = 0
while i<list1.__len__():
    list1[i] = list1[i] * list1[i]
    i = i+1
print("after overwriting by its square:", list1)

after overwriting by its square: [1, 9, 25, 64, 81, 121, 225, 324]

In [19]:
odd = [2,4,6,8]
print(odd)
odd[0] = 1
print("after updating 0th index:", odd)
odd[1:4]=[3,4,7]
print("after updating from 1st to 4th index:", odd)

[2, 4, 6, 8]
after updating 0th index: [1, 4, 6, 8]
after updating from 1st to 4th index: [1, 3, 4, 7]

In [29]:
list1 = ['p','y','t','h','o','n']
del list1[2]
del list1[1:5]
#del list1
print("list1 after deletion:", list1)  # This will raise an error since list1 is deleted

list1 after deletion: ['p']

In [32]:
list = ['p','y','t','h','o','n']
#del list[2]
#del list[1:5]
del list1
print("list1 after deletion:", list)  # This will raise an error since list1 is deleted

list1 after deletion: ['p', 'y', 't', 'h', 'o', 'n']

In [33]:
list1 = [0,1,2,3,4]
list1.remove(0)
print(list1)

[1, 2, 3, 4]